html,
body {
  height: 100%;

}

.login-bg {
  height: 100%;
  background-image: url('https://www.goodnet.org/photos/620x0/29079_hd.jpg');
  background-size: cover;
}

.form-signin {
  max-width: 430px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

fb-login-button {
  width: 100%;
}